<html>
    <head>
        <style>
        @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,900');
        </style>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/simplify.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <div class="jumbotron-header">
                        <h3>HEADER</h3>
                    </div>
                    <div class="jumbotron-container">
                        <div class="jumbotron-text">
                            <span class="jumbotronText"><span class="jumbotronTextBold">YOU</span> ARE MORE</span>
                            <span class="jumbotronText">THAN <span class="jumbotronTextBold">YOUR</span></span>
                            <span class="jumbotronText"><span class="jumbotronTextBold">RESUME</span></span>
                        </div>
                        <div class="jumbotron-image">
                            <img src="/images/simplify.png" class="logoImage">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row features">
                <div class="col-md-8">
                    <img src="/images/example_1.png" class="featuresImage">
                </div>
                <div class="col-md-4">
                    <div class ="featureHeader"><span>RESPONSIVE</span></div>
                    <div calss="featureContent"><p>The design you pick is responsive on all platform</p></div>
                </div>
            </div>
            <div class="row features">
                <div class="col-md-4">
                    <div class ="featureHeader"><span>RESPONSIVE</span></div>
                    <div calss="featureContent"><p>The design you pick is responsive on all platform</p></div>
                </div>    
                <div class="col-md-8">
                    <div class="col-sm-12">
                        <img src="/images/example_2.png" class="featuresImage">
                    </div>
                    <div class="col-sm-6">
                        <img src="/images/example_3.png" class="featuresSmallImage">
                    </div>
                    <div class="col-sm-6">
                        <img src="/images/example_4.png" class="featuresSmallImage">
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </body>
</html>